<!-- WRAPPER
============================== -->
<div class="wrapper">

    <!-- NAVBAR
    ============================== -->
    <nav class="navbar navbar-default navbar-fixed-top js-navbar-top js-toggleClass">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">HW</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right ">
                    <li class="active"><a href="#home">主页</a></li>
                    <li><a href="#about">关于我们</a></li>
                    <!--<li><a href="#portfolio">Portfolio</a></li>-->
                    <li><a href="#download">下载应用</a></li>
                    <!--
                    <li><a href="#team">Team</a></li>
                    <li><a href="#skills">Skills</a></li>
                    -->
                    <li><a href="#contact">客服联系</a></li>
                    <li class="hidden-xs">
                        <p class="navbar-text navbar__separator"></p>
                    </li>
                    <li>
                        <a href="#" class="js-toggle-sidebar">
                            <span class="oi oi-menu hidden-xs"></span>
                            <span class="visible-xs">Bonus pages</span>
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <!-- HERO
    ============================== -->
    <div class="hero hero_agency" id="home">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Hero heading -->
                    <h1 class="heading hero__heading animated fadeInUp">HealthWe 睡眠治疗系统</h1>

                    <!-- Hero subheading -->
                    <p class="heading__sub hero-heading__sub animated fadeInUp delay_1">
                        让您放心的私人睡眠专家<br /> 不打针不吃药无风险  30天无效退款
                    </p>

                    <!-- Hero buttons -->
                    <a href="#" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">观看HealthWe视频</a>
                    <a href="#about" class="hero__btn btn btn-lg btn-link animated fadeInUp delay_2">发现更多</a>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .hero -->


    <div class="section" id="about">

        <!-- ABOUT
        ============================== -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="heading">深圳和唯健康科技公司</h4>
                    <p class="heading__sub">
                        HealthWe是和唯健康科技（深圳）有限公司于2015年推出的一款专业睡眠治疗系统 <br />除具备在线匹配私人睡眠治疗专家功能外，加入了智能穿戴设备睡眠数据收集功能。<br />同时，24x7 多平台客户服务为用户提供最佳的治疗体验和相关咨询。自2015年上线以来，已拥有超过***的有效用户。
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->


        <!-- FEATURES
        ============================== -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="features__item wow fadeIn">
                        <div class="features-item__icon">
                            <span class="oi oi-project"></span>
                        </div>
                        <div class="features-item__body">
                            <div class="features-item-body__title">
                                适用人群
                            </div>
                            <div class="features-item-body__summary">
                                HealthWe睡眠治疗系统得适用人群以中老年人为主，包括并不局限于睡眠颠倒的的青少年和受压力困扰而导致睡眠障碍人群
                            </div>
                        </div> <!-- / .features-item__body -->
                    </div> <!-- / .features__item -->
                </div>
                <div class="col-sm-4">
                    <div class="features__item wow fadeIn">
                        <div class="features-item__icon">
                            <span class="oi oi-code"></span>
                        </div>
                        <div class="features-item__body">
                            <div class="features-item-body__title">
                                市场分析
                            </div>
                            <div class="features-item-body__summary">
                                根据2015年3.13号世界睡眠日报告分析，世界上33%－45%的人口受睡眠问题所困扰. 大多数受干扰的睡眠问题可以被预防或者治疗，但少于1/3的患者愿意积极的寻求专业人士的帮助。
                                而在中国国内，睡眠障碍人口已经超过了3个亿，成为威胁人们健康的巨大隐患。而在未来的几十年，庞大的人口基础将会进一步激化就业压力和生存难度，失眠人口总体呈现上升趋势
                            </div>
                        </div> <!-- / .features-item__body -->
                    </div> <!-- / .features__item -->
                </div>
                <div class="col-sm-4">
                    <div class="features__item wow fadeIn">
                        <div class="features-item__icon">
                            <span class="oi oi-envelope-open"></span>
                        </div>
                        <div class="features-item__body">
                            <div class="features-item-body__title">
                                治疗方案
                            </div>
                            <div class="features-item-body__summary">
                                HealthWe睡眠治疗系统能够帮助日渐增长的受睡眠所困扰患者自动配对睡眠专家，通过手机等硬件收集具体睡眠信息，从而方便专家进行快捷有效的睡眠治疗。
                                客户可以通过电脑上的java应用程序/安卓手机app客户端登陆，上传个人睡眠信息至远程服务器，预约专家门诊。专家通过治疗专用客户端浏览病人资料，制定治疗流程和方案。客户门诊后满意即可付款享受有效而方便的睡眠治疗。本系统简化服务流程方便患者和医生交流并且支持多种支付方式。
                            </div>
                        </div>  <!-- / .features-item__body -->
                    </div> <!-- / .features__item -->
                </div>
                <!-- section001，2nd row of about us -->
            </div> <!-- / .row -->
        </div> <!-- / .container -->

    </div> <!-- / .section -->

    <!-- section002,fullyresponsive -->
    <!-- section003, portfolio>

          <!-- DOWNLOAD
          ============================== -->
    <div class="section section_alt section_download" id="download">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <h4 class="heading">多平台下载</h4>
                    <p class="heading__sub">
                        HealthWe支持多平台下载： Windows桌面版，Linux桌面版，Mac桌面版，Android版
                    </p>
                    <a href="#contact" class="btn btn-lg btn-primary heading__btn wow fadeInUp">立即下载</a>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .section -->


    <!-- section004, pricing-->
    <!-- section005, team-->
    <!-- section006, skills/piechart-->
    <!-- section007,testimonial-->




    <!-- SUBSCRIBE
    ============================== -->
    <div class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h4 class="heading">订阅最新资讯</h4>

                    <form class="form-inline form_alt subscribe__form">
                        <div class="form-group">
                            <label class="sr-only" for="subscribe__name">Name</label>
                            <input type="text" class="form-control input-lg" id="subscribe__name" placeholder="名字">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="subscribe__email">Email address</label>
                            <input type="email" class="form-control input-lg" id="subscribe__email" placeholder="邮箱">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            订阅我的邮箱</button>
                    </form>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .section -->


    <!-- CONTACT US
    ============================== -->
    <div class="container" id="contact">

        <div class="row">
            <div class="col-xs-12">
                <h4 class="heading">联系我们</h4>
                <p class="heading__sub">
                    客户服务部门支持7*24多种联系方式，电话/Email/QQ/微信.为您提供最佳的治疗体验和相关咨询
                </p>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

                <!-- Alert message -->
                <div class="alert contact-form__alert" id="form_message" role="alert"></div>

                <!-- Contact form -->
                <!-- Please carefully read the README.txt file
                 in order to setup the PHP contact form properly -->
                <form role="form" class="contact__form" id="form_sendemail">
                    <div class="row">
                        <div class="col-sm-6">

                            <!-- Email -->
                            <div class="form-group">
                                <label for="email" class="sr-only">Your email address</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="您的邮箱">
                                <span class="help-block"></span>
                            </div>

                            <!-- Name -->
                            <div class="form-group">
                                <label for="name" class="sr-only">Your name</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="您的称呼">
                                <span class="help-block"></span>
                            </div>

                            <!-- reCAPTCHA -->
                            <div class="form-group" id="form-captcha">
                                <div class="g-recaptcha" data-sitekey="YOUR_PUBLIC_KEY"></div>
                                <span class="help-block"></span>
                            </div>
                            <!-- /reCAPTCHA -->

                        </div>

                        <div class="col-sm-6">

                            <!-- Message -->
                            <div class="form-group">
                                <label for="message" class="sr-only">Your message</label>
                                <textarea name="message" class="form-control" rows="9" id="message" placeholder="问题描述"></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>

                    </div> <!-- / .row -->

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                        <div class="clearfix"></div>
                    </div>

                </form>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->




</div> <!-- / .wrapper -->


<!-- JavaScript
================================================== -->

<!-- JS Global -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- JS Plugins -->
<script src="js/plugins/smoothscroll.js"></script>
<script src="js/plugins/jquery.waypoints.min.js"></script>
<script src="js/plugins/wow.min.js"></script>
<script src="js/plugins/owl.carousel.min.js"></script>
<script src="js/plugins/jquery.peity.min.js"></script>
<script src="js/plugins/lightbox.min.js"></script>
<script src="js/plugins/contact.js"></script>

<!-- JS Custom -->
<script src="js/custom.js"></script>