<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="ico/favicon.ico">

    <title>HealthWe - 私人睡眠治疗专家</title>

    <!-- CSS Plugins -->
    <link href="css/plugins/animate.css" rel="stylesheet">
    <link href="css/plugins/owl.carousel.css" rel="stylesheet">
    <link href="css/plugins/lightbox.css" rel="stylesheet">
    <link href="fonts/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS Custom -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- PREVIEW
    ============================== -->
    <div class="section section_alt">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="heading">选择模式</h2>
            <p class="heading__sub">
              点击预览
            </p>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .section -->

    <div class="section preview__content">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            
            <!-- Agency -->
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="index_agency.html">
                  <img src="img/preview_myagency.png" class="img-responsive" alt="Agency">
                  <div class="portfolio-item__mask">
                  <div class="portfolio-item-mask__content">
                    <div class="portfolio-item-mask__title">
                      Agency 
                    </div>
                    <div class="portfolio-item-mask__summary">
                      Multipurpose layout ideal for startups, businesses, product pages and portfolios.
                    </div>
                  </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
              <div class="portfolio-item__title">
                网页
              </div>
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-4">
            
            <!-- App -->
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="#">
                  <img src="img/preview_app.png" class="img-responsive" alt="App">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        移动
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Coming Soon
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
              <div class="portfolio-item__title">
                移动
              </div>
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-4">
            
            <!-- Sign Up -->
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="/sign-up">
                  <img src="img/preview_mysignup.png" class="img-responsive" alt="Sign Up">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        Sign Up
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Multipurpose layout with a quick registration form.
                      </div>
                    </div>
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
              <div class="portfolio-item__title">
                注册
              </div>
            </div> <!-- / .portfolio__item -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .portfolio__body -->


    <!-- FOOTER
    ============================== -->
    <div class="preview__footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            © 2015 HealthWe.com. All Rights Reserved.
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .preview__footer -->


    <!-- JavaScript
    ================================================== -->
    
    <!-- JS Global -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>-->

    <!-- JS Plugins -->
    <script src="js/plugins/smoothscroll.js"></script>
    <!--
    <script src="js/plugins/jquery.waypoints.min.js"></script>
    <script src="js/plugins/wow.min.js"></script>
    <script src="js/plugins/owl.carousel.min.js"></script>
    <script src="js/plugins/jquery.peity.min.js"></script>
    <script src="js/plugins/lightbox.min.js"></script>
    <script src="js/plugins/contact.js"></script>-->

    <!-- JS Custom -->
    <!--<script src="js/custom.js"></script>-->


  </body>
</html>