<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
<p>
    Welcome <strong><%= user.user_name %></strong>
    <br />
    您的姓名是 <%= user.name %>
    <br />
    您的邮箱是 <%= user.email %>
    <br />
    您的性别为
    <br />
    您的年龄为
    <br />
    您的手机为
    <br />
    您的地址为
    <br />
    您所在城市为
    <br />
    <a href="/logout" title="log out">log out</a>
</p>
</body>
</html>